<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087039432055-u72jolvpl1d8tpjp6g6gt0fm3drkmiog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087039432055-u72jolvpl1d8tpjp6g6gt0fm3drkmiog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1087039432055-11itpkj7a09fhi4jav204uki06m8asvr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFLy_aPAal7x1O4IF9Gr7IUUCckm3Xc4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1087039432055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rmd.business.firebaseauth</string>
	<key>PROJECT_ID</key>
	<string>rmd-ff-project</string>
	<key>STORAGE_BUCKET</key>
	<string>rmd-ff-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087039432055:ios:16a813b1b1ccc02245ad72</string>
</dict>
</plist>